<div class="banner">
<h1>Stupid Coaching</h1>
</div>

<div class="container">
<p>Ask your Coach anything:</p>
<form action="/answer">
  <input type="text" name="@question">
  <input type="submit">
</div>
</form>
